* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  background-color: ivory;
  font-size: 14px;
}

body {
  color: #111;
  font: 1rem/1.3 Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 900px;
  padding: 3rem;
}

[data-font-loaded~="franklin_gothic_fsbook"] body {
  font-family: franklin_gothic_fsbook, Helvetica Neue, Helvetica, Arial, sans-serif;
}

[data-font-loaded~="franklin_gothic_fsdemi"] .site-title {
  font-family: franklin_gothic_fsdemi, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.site-title a {
  align-items: center;
  color: #5b453b;
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  opacity: .9;
  position: relative;
  text-decoration: none;
  transition: .15s opacity ease-in-out;
}

.site-title a:hover {
  opacity: 1;
}

.site-title a:before {
  background: lightseagreen;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.5);
  content: "";
  display: inline-block;
  height: 50px;
  margin-right: 1.25rem;
  vertical-align: middle;
  width: 50px;
}

.site-title a:after {
  background: url(../img/logo.svg) 50% 50% no-repeat;
  background-size: 60% 60%;
  border-radius: 50%;
  border: 2px solid transparent;
  content: "";
  filter: invert(1);
  display: inline-block;
  position: absolute;
  left: 0;
  height: 50px;
  vertical-align: middle;
  width: 50px;
}

.content {
  padding: 3rem 0 4.5rem;
}

.command-logs {
  border: 1px solid rgba(0,0,0,.25);
  border-width: 1px 0;
  color: #333;
  font-family: monospace;
  list-style: none;
  padding: 2rem 0;
}

.command-logs li {
  overflow-x: auto;
}

.command-logs:empty {
  display: none;
}

.command-logs li + li {
  border-top: 1px solid rgba(0,0,0,.25);
  margin-top: 2rem;
  padding-top: 2rem;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: 1rem;
}

p,
dl,
ol,
ul {
  margin-top: 1.5rem;
}

.btn {
  font-size: 1.5rem;
  text-decoration: none;
}

.btn {
  background: #fff;
  border: 3px solid #333;
  box-shadow: #666 1px 1px 0 0, #777 2px 2px 0 0, #888 3px 3px 0 0, #999 4px 4px 0 0, #aaa 5px 5px 0 0;
  color: #333;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .2ch;
  margin-bottom: 15px;
  padding: 0.25em 0.75em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: .15s border-color ease-in-out, .15s box-shadow ease-in-out, .15s left ease-in-out, .15s top ease-in-out;
}

.btn:active {
  border-color: #aaa;
  box-shadow: 0;
  left: 5px;
  top: 5px;
}

.log-in-btn {
  border-color: #00bc52;
  box-shadow: #67ffa9 1px 1px 0 0, #78ffb3 2px 2px 0 0, #89ffbc 3px 3px 0 0, #9affc6 4px 4px 0 0, #abffcf 5px 5px 0 0;
  color: #005625;
}

.log-in-btn:hover {
  border-color: #009a43;
  box-shadow: #89ffbc 1px 1px 0 0, #9affc6 2px 2px 0 0, #abffcf 3px 3px 0 0, #bcffd9 4px 4px 0 0, #cdffe3 5px 5px 0 0;
  color: #005625;
}

.log-in-btn:active {
  border-color: #00de61;
  box-shadow: #89ffbc 1px 1px 0 0, #9affc6 2px 2px 0 0, #abffcf 3px 3px 0 0, #bcffd9 4px 4px 0 0;
}

.log-in {
  margin-bottom: 2rem;
}

/* Voice animation */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[aria-hidden="true"] {
  display: none !important;
}

html,
body {
  height: 100%;
}

.droplet,
.droplet-files {
  display: flex;
  justify-content: center;
  width: 100%;
}

.droplet {
  height: 100%;
}

.droplet-files {
  align-items: center;
  height: 100vh;
}

.droplet-files div {
  align-self: center;
}

.droplet-spinner {
  cursor: pointer;
  height: 140px;
  margin: 100px auto;
  position: relative;
  width: 140px;
}

.droplet-double-bounce1,
.droplet-double-bounce2 {
  animation: droplet-sk-bounce 2s infinite ease-in-out;
  background-color: #00bfff;
  border-radius: 50%;
  height: 100%;
  left: 0;
  opacity: .6;
  position: absolute;
  top: 0;
  width: 100%;
}

.droplet-double-bounce2 {
  animation-delay: -1s;
}

@keyframes droplet-sk-bounce {
  0%,
  100% {
    transform: scale(.0);
  }

  50% {
    transform: scale(1.0);
  }
}

.sk-fading-circle {
  height: 140px;
  margin: 100px auto;
  position: relative;
  width: 140px;
}

.sk-fading-circle .sk-circle {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.sk-fading-circle .sk-circle:before {
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  background-color: #00bfff;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15%;
  margin: 0 auto;
  width: 15%;
}

.sk-fading-circle .sk-circle2 {
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  animation-delay: -.9s;
}

.sk-fading-circle .sk-circle5:before {
  animation-delay: -.8s;
}

.sk-fading-circle .sk-circle6:before {
  animation-delay: -.7s;
}

.sk-fading-circle .sk-circle7:before {
  animation-delay: -.6s;
}

.sk-fading-circle .sk-circle8:before {
  animation-delay: -.5s;
}

.sk-fading-circle .sk-circle9:before {
  animation-delay: -.4s;
}

.sk-fading-circle .sk-circle10:before {
  animation-delay: -.3s;
}

.sk-fading-circle .sk-circle11:before {
  animation-delay: -.2s;
}

.sk-fading-circle .sk-circle12:before {
  animation-delay: -.1s;
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

html {
  font-size: 16px;
}

body {
  font: 1rem/1.3 monospace;
  margin: 0 auto;
  max-width: 900px;
}

.results {
  background: #eee;
  color: #333;
  margin: 3rem auto;
  max-width: 600px;
  padding: 3rem;
  position: relative;
}

.results-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.results-term {
  background: #dfe;
  color: #111;
  padding: .5rem .75rem;
}

.results-list {
  list-style-type: none;  /* Hide the bullet (•) for the list items of the ordered list. */
}

.results-list li {
  margin-top: 1.5rem;
}

.results-list:empty {
  display: none;
}

.results li a {
  background: #eee;
  color: #111;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.results li a:hover {
  background: #111;
  color: #eee;
}

.results-close {
  background: #111;
  color: #eee;
  display: inline-block;
  font-size: 2rem;
  opacity: .5;
  padding: .3rem .9rem;
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 0;
}

.results-close:hover {
  opacity: 1;
}
